:root{
  // Colors

/// Primary

--color-primary-dark: hsl(183, 100%, 15%);
--color-primary: hsl(172, 67%, 45%);
--color-disabled: hsla(172, 67%, 45%, 0.382);

/// Neutral

--color-grey-dark: hsl(186, 14%, 43%);
--color-grey: hsl(184, 14%, 56%);
--color-grey-light: hsl(185, 41%, 84%);
--color-grey-lighter: hsl(189, 41%, 97%);
--color-white: hsl(0, 0%, 100%);

/// Error

--color-error: rgb(212, 81, 81);

}
*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Space Mono", monospace;
  background-color: var(--color-grey-light);
}
